h2{
    text-transform: uppercase;
    line-height: 1.6em;
}

body {
       background-color: aquamarine;
       color:black;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 16px;
       font-weight: normal;
       

      /* font: normal 16px Arial, Helvetica, sans-serif;*/

      line-height: 1.6em;
      margin: 0;
}

a{
  text-decoration: none;
  color:black;

}

a:hover{
    color:brown;

}
:active{
    color:green;
}
a:visited{
    color: purple;
}

.button {
    background-color: rgb(20, 25, 27);
    color:aliceblue;
    padding: 10px 15px;
    width: 150px;
    border: none;
    cursor:pointer;


}
.button:hover{
    background-color: green;
    color:aliceblue;

}

.row{
    width:100%;
    margin:auto;
    padding: 0;
}


.box-a{
        background-color: black;
        color: white;

        /* border */

        border-top: 5px green solid;
        border-bottom: 5px green solid;
        border-right: 5px green solid;
        border-left: 5px green solid;
        border-width: 7px;
        

        /* border  same as above */

        border: 5px green solid;

        border-top-width: 12px;
        border-top-style: dotted;
        border-top-color: rgb(66, 221, 58);


        /* padding */

        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        /*same as above  top right  bottom left */

        padding: 20px 20px 20px 20px;

        /* margin */

        margin: 20px 0;

}
.container{
           width: 80%; 
           margin:auto;

}

.box-a h2{
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-weight: 800;
           font-style: italic;
           text-decoration: none;
           text-transform: capitalize;
           letter-spacing: 0.1em;
           word-spacing: 0.3em ;



}

.box-b{
        border: 4px black dashed;
        padding: 20px;
        margin: 20px 0;

}

/* List */
.categories{
             border: 2px solid black;
             margin-bottom: 20px;
             border-radius: 15px;
             padding: 10px;

}

.categories h3 {
                  text-align: center;
                  text-decoration: underline;



}

.categories ul{
                padding: 0;
                padding-left: 20px;
                list-style-type: none;


}

.categories li {
    padding-bottom: 8px;
    border-bottom: black dotted 2px;
    list-style-image:url(../images/1.png);
}

/* form */

.frm{
    padding: 20px;
    padding-left: 0;
}

.frm .form-group{
    padding-bottom: 15px;

}
.frm label{
    display: block;
}
.frm input[type="text"], .frm input[type="email"], .frm textarea {
    padding: 8px;
    width: 100%;
}

/* service section */


.block{
    float:left;
    width: 30.33%;
    border: 1px black solid;
    padding: 10px;

    box-sizing: border-box;
    margin: 10px 1.5%;
}

/* Main section and sidebar */

#main-block{
    float: left;
    width: 70%;
    padding: 10px;
    
}